<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShowPopupOnTestStart" value="true"/>
    <add key="PopupTitle" value="Hybrid Electric Vehicle Test"/>
    <add key="PopupMessage" value="Please ensure that the Hioki device has started integration before continuing."/>
    <add key="DisplayExePath" value="*here\SOC\State of Charge Assessment.exe"/>
    <add key="SocColumnName" value="IH1"/>
    <add key="CycleNumberColumnName" value="CycleNumber"/>
    <add key="SampleNumberColumnName" value="SampleNumber"/>
    <add key="TestStateColumnName" value="TestState"/>
    <add key="TestTimeColumnName" value="TestTime"/>
  </appSettings>
</configuration>